@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* width */
.sidebar::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.sidebar::-webkit-scrollbar-track {
  background: #22262f;
}

/* Handle */
.sidebar::-webkit-scrollbar-thumb {
  background: #2a2d37;
  ;
  border-radius: 10px;
}

/* Handle on hover */
.sidebar::-webkit-scrollbar-thumb:hover {
  background: #2a2d37;
}

.sidebar_link{
  display: flex !important;
}


@media (min-width:768px){
  .sidebar_link .sidebar_title{
    margin-top: 21px !important;
  }
}


body iframe#webpack-dev-server-client-overlay{
  display: none !important ;
  position: static !important;
}